<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Shopping Cart</h1>
    <nav>
        <a href="/carts">Back to Cart List</a>
        <!-- Добавьте другие навигационные ссылки, если необходимо -->
    </nav>
</header>

<main>
    <section th:if="${cart != null}">
        <h2>Cart ID: <span th:text="${cart.id}"></span></h2>
        <p>Status: <span th:text="${cart.paid} ? 'Paid' : 'Not Paid'"></span></p>
        <p>Total Amount: $<span th:text="${cart.totalAmount}"></span></p>

        <h3>Items in Cart:</h3>
        <table>
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cart.items}">
<!--                <td th:text="${item.product.name}"></td>-->
                <td th:text="${item.quantity}"></td>
<!--                <td>$<span th:text="${item.product.price}"></span></td>-->
<!--                <td>$<span th:text="${item.product.price * item.quantity}"></span></td>-->
            </tr>
            </tbody>
        </table>
    </section>

    <section th:unless="${cart != null}">
        <p>No cart found or the cart is empty.</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Your Flower Shop</p>
</footer>
</body>
</html>