<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiqPay Payment</title>
</head>
<body>
<!-- Сюда вставляешь сгенерированную форму -->
<form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
    <input type="hidden" name="data" value="eyJwdWJsaWNfa2V5Ijoic2FuZGJveF9pNjQ3ODgxNTA0ODQiLCJhbW91bnQiOiIxIiwiYWN0aW9uIjoicGF5IiwiZGVzY3JpcHRpb24iOiJUZXN0IHBheW1lbnQiLCJjdXJyZW5jeSI6IlVTRCIsInZlcnNpb24iOiIzIiwib3JkZXJfaWQiOiJvcmRlcl9pZF8xIn0="/>
    <input type="hidden" name="signature" value="3AIc4w1/yEJ7pbbEilF4NJrtFtw="/>
    <input type="image" src="//static.liqpay.ua/buttons/payUk.png"/>
</form>
</body>
</html>