<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Random Flower Fact</title>
    <script>
        function getRandomFact() {
            fetch('/facts/random')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('factDisplay').innerText = data;
                });
        }
    </script>
</head>
<body>
<h1>Interesting Flower Facts</h1>
<button onclick="getRandomFact()">Get a Random Fact</button>
<p id="factDisplay"></p>
</body>
</html>